@model IEnumerable<dwc.Models.Farmacia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poblacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ultfactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdperiodoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poblacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ultfactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdperiodoNavigation.Descripcion)
            </td>
        </tr>
}
    </tbody>
</table>
