@model dwc.Models.Farmacia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Farmacia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poblacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poblacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ultfactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ultfactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdperiodoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdperiodoNavigation.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idfarmacia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
